* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../media/bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}