@mixin base-flex($pos, $direction) {
    display: flex;
    justify-content: $pos;
    flex-direction: $direction;
}


.posts-wrapper {
    @include base-flex(center, column);
}

.posts {
    @include base-flex(center, column);
    align-content: flex-start;
    @extend %post-style;

    &__item {
        font-family: 'Poppins', sans-serif;
        box-shadow: 1px 1px 3px rgb(212, 212, 212);

        &-logo {}

        &-img {
            width: 100%;
            border-radius: 25px;
        }

        h2 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            color: rgb(37, 156, 165);
            padding-top: 1em;
            font-size: 36px;
        }

        p {
            font-family: 'Playfair Display', sans-serif;
            color: rgb(69, 100, 100);
            text-align: center !important;
        }

        &-date {
            padding-bottom: 1em;
            text-align: center;
            color: black;
            opacity: 0.3;
            font-size: 14px;
        }

        &-embedarea {
            padding: 2em 0 2em 0;
            display: flex;
            justify-content: center;
        }
    }
}

.norows-message {
    width: 100%;
    text-align: center;
    color: rgb(65, 65, 65);
}

.grow-post {
    opacity: 1;
    transition: opacity 250 ease-in;
}

.close-btn {
    width: 25px;
    height: 25px !important;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: -10px;
    background: rgb(207, 156, 46) !important;
}

.admin-form {
    @include base-flex(center, column);
    @extend %post-style;
    position: relative;
    opacity: 1;


    label,
    input,
    textarea {
        width: 100%;
        margin-bottom: 10px;

        span {
            padding: 5px;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 22px;
            color: coral;
        }
    }

    input,
    textarea {
        border-radius: 10px;
        border: 1px solid rgb(209, 209, 209);
        padding: 10px;
        margin-top: 10px;
        outline: none;
    }

    button {
        background: #6d6255;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        height: 50px;
        color: white;
        transition: background 250ms;

        &:hover {
            transition: all 250ms;
            background: #4d443b;
        }
    }

    .submitBtn {
        border-radius: 15px;
    }

    &-published {
        width: 200px !important;
        display: inherit;
        flex-direction: row;
        align-self: flex-end;
    }

    &__change-section {
        position: absolute;
        top: 0;
        right: -3em;
        @include base-flex(center, column);
        height: 70px;

    }
    .fa-edit::before,
    .fa-trash-alt::before {
        font-size: 20px;
        // color: rgb(207, 156, 46);
        color: rgb(37, 156, 165);
        cursor: pointer;
        text-shadow: 1px 1px 2px white;
    }

    .fa-edit:hover,
    .fa-trash-alt:hover {
        transition: ease-in all 250ms;
        transform: scale(1.2);
        // color: rgb(207, 156, 46);
        color: rgb(37, 156, 165);
    }
}

.adminPostsWrapper {
    i {
        color: white;
        font-size: 30px;
        margin: auto;

    }

    .iconPlusFrame {
        border-radius: 50%;
        border: 3px solid rgb(37, 156, 165);
        height: 60px;
        width: 60px;
        position: fixed;
        top: 100px;
        right: 2em;
        display: flex;
        justify-self: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
        box-shadow: 1px 1px 2px gray;
        background: rgba(216, 216, 213, 0.712);
    }

    .iconPlusFrame:hover {
        transition: ease-in 250ms;
        transform: scale(1.2);
    }
}

.fadeOut {
    animation: fade 250ms ease-out;
    opacity: 0;
}

.fadeIn {
    animation: fade 250ms ease-in reverse;
    opacity: 1;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

iframe {
    width: 560px;
    height: 315px;
}