@mixin base-flex($pos, $direction) {
    display: flex;
    justify-content: $pos;
    flex-direction: $direction;
}


.posts-wrapper {
    @include base-flex(center, column);
}

.posts {
    @include base-flex(center, column);
    align-content: flex-start;
    @extend %post-style;

    &__item {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &-logo {}
        &-img {
            width: 100%;
        }
        h2 {
            font-family: 'F',sans-serif;
        }
        h2,p {padding:10px; color:black}
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        &-date {
            padding:0.5em;
            text-align: right;
            color: rgb(105, 105, 105);
        }
    }
}

.grow-post {
    opacity: 1;
    transition: opacity 250 ease-in;
}

.admin-form {
    @include base-flex(center, column);
    @extend %post-style;
    position: relative;
    
    
    label, input, textarea {
        width: 100%;
        margin-bottom: 10px;
        span {
            padding:5px;
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            font-size: 22px;
            color: coral;
        }
    }
    input, textarea {
        border-radius: 10px;
        border: 1px solid rgb(209, 209, 209);
        padding:10px;
        margin-top: 10px;
        outline: none;
    }

    button {
        background:#6d6255;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        height:50px;
        color: white;
        transition: background 250ms;
        &:hover {
            transition: all 250ms;
            background:#4d443b;
        }
    }
  
    &-published {
        width: 200px !important;
        display: inherit;
        flex-direction: row;
        align-self: flex-end;
    }

    &__change-section {
        position: absolute;
        top: 0;
        right: -3em;
        @include base-flex(center, column);
        height: 70px;
        
    }

    .fa-edit::before,
    .fa-trash-alt::before {
        font-size: 20px;
        color: rgb(207, 156, 46);
        cursor: pointer;
    }

    .fa-edit::before {
        margin-left: 0.2em;
    }

    .fa-edit:hover,
    .fa-trash-alt:hover {
        transition: ease-in all 250ms;
        transform: scale(1.2);
        color: rgb(207, 156, 46);
    }
}

.adminPostsWrapper {
    i {
        color: white;
        font-size: 30px;
        margin: auto;

    }

    .iconPlusFrame {
        border-radius: 50%;
        border: 3px solid rgb(255, 255, 255);
        height: 60px;
        width: 60px;
        position: absolute;
        top: 100px;
        right: 2em;
        display: flex;
        justify-self: center;
        align-items: center;
        cursor: pointer;
    }

    .iconPlusFrame:hover {
        transition: ease-in all 250ms;
        transform: scale(1.2);
    }
}