
@function calcRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin style-font-size($start-size,$desk-font-size, $weight:null,$l-height:null, $color:null) {
    font-size: $start-size;
    font-weight: $weight;
    line-height: $l-height;
    color:$color;
    @media(min-width:$bp-desk) {
        font-size: $desk-font-size;
    }
}

@mixin page-bg($url, $bg-size, $gradient:null) {
    background: $gradient,$url;
    background-size: $bg-size;
}

@mixin base-flex($direction, $justify, $bg, $wrap:null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
    background: $bg;
}

@mixin grid-position($column, $max-width, $direction) {
    grid-column: $column;
    flex-direction: $direction;
    max-width: $max-width;
}

@mixin path-border-pos($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
    content: '';
}
 
@mixin base-path-big($left, $top, $height, $width) {
    left: $left;
    top: $top;
    height: $height;
    width: $width;
}

@mixin box-shadow($sh... ) {
    box-shadow: $sh;
}

@mixin highlight-word($color){
    font-weight: bold;
    color:$color;
}

@mixin section-margin() {
    padding-top: 60px;
    padding-bottom: 60px;
}